[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "COLP"]
	path = COLP
	url = https://github.com/nystat/colp
[submodule "OrdCD"]
	path = OrdCD
	url = https://github.com/nystat/ordcd
